@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin: 15px 0;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    transition: 0.3s ease-in-out;
    background: white;
    padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 5px;
    font-size: 12px;
    color: #000;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
}

.reset-btn {
    background: #006D77;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.reset-btn:hover {
    background-color: #00474a; /* Warna saat hover */
}




.bottom-text {
    font-size: 14px;
    margin-top: 15px;
    text-align: center; 
}

.bottom-text a {
    color: #006D77;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}